* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.7;
    background: rgb(202, 202, 202);
    height: 100vh;
}

h1,
h4 {
    text-align: center;
    color: #0f5975;
}  

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 2rem 0;
    width: 50%;
}

.command {
    padding: 1.2rem;
    width: 100%;
    border-bottom: 2px solid #0f5975;
}

.command:last-child {
    border-bottom: none;
}

.command p {
    color: #333;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

@media (max-width: 768px) {
    #container {
        width: 100%;
    }
}