* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background: rgb(202, 202, 202);
    height: 100vh;
}

h2,
h4 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0f5975;
    padding: 1rem;
}  

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 2rem 0;
}

.command-section {
    border-bottom: 2px solid #0f5975;
    width: 80%;
    padding: 2rem;
    margin-bottom: 2rem;
}

.command p {
    color: #333;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

@media (max-width: 768px) {
    #container {
        width: 100%;
    }
}